<div class="page-header">
    <div class="container">
      <h1>Was soll das?</h1>
    </div>
    <div class="container">
        <h2>Was passiert auf dieser Seite?</h2>
        Dieses Programm verfolgt Verspätungszeiten der Vlexx-Züge am Bahnhof Mainz. Ziel ist es, neben einer aktuellen Übersicht und einer Tagesübersicht auch langfristig Statistiken aufzubauen.
    </div>
    <div class="container">
        <h2>Warum nur in Mainz?</h2>
        Ich frage die Daten von der offiziellen Vlexx-Webseite ab. Hier die Daten für jeden Bahnhof anzufragen würde eine höhere Serverlast bedeuten, weshalb ich (zumindest zur Zeit) davon absehe. Nennen wir es Etiquette.
    </div>
    <div class="container">
        <h2>Und warum tust du das?</h2>
        Aus mehreren Gründen. Da das Vlexx Verkehrsunternehmen einen holprigen Start auf der Strecke hingelegt hat (und alle sich darüber aufgeregt haben), hat es mich interessiert, wie es denn mit den Verspätungszeiten wirklich aussieht. Außerdem hat es mir die Möglichkeit gegeben, mich beim Programmieren an ein paar neuen Techniken abzuarbeiten.
    </div>
    <div class="container">
        <h2>Welche Techniken werden eingesetzt?</h2>
        Das Backend läuft auf Clojure und einer MongoDB, das Frontend wurde mit AngularJS umgesetzt. Wenn du dich für den Code interessierst, kannst du dich gerne auf meinem <a href="http://github.com/javahippie/vlexx-history">GitHub</a> umsehen.
    </div>

</div>
